<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Run Your Own Fediverse Server</div>
        <p>
            The fediverse provides the tools for anyone to become their own social media provider and participate in the
            larger fediverse community.
            There are a variety of different fediverse apps to choose from that are designed to suit different purposes.
        </p>
    </div>
</div>

<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Lemmy
            <img src="assets/lemmy-icon.png" alt="Lemmy" style="width:25px;height:25px;margin-left: 10px;">
        </div>
        <p>
            Lemmy is the fediverse app that best replicates the functionality of Reddit.
        </p>
        <p>
            <a href="https://join-lemmy.org/docs/administration/administration.html" target="_blank">Lemmy
                Documentation</a>

        </p>
        <div>
            <app-dedicated-providers [appName]="'Lemmy'"></app-dedicated-providers>
        </div>
    </div>
</div>
<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">
            Mastodon
            <img src="assets/mastodon-icon.png" alt="Mastodon" style="width:25px;height:25px;margin-left: 10px;">
        </div>
        <p>
            Mastodon is the fediverse app that best replicates the functionality of Twitter.
        </p>
        <div>
            <p>
                <a href="https://docs.joinmastodon.org/user/run-your-own/" target="_blank">Mastodon
                    Documentation</a><br>

            </p>
            <p> Why would you want to run your own Mastodon server?</p>
            <ul style="margin-top: 5px;">
                <li class="content-item">
                    Absolute control over your own voice on the web, not subject to anyone else’s rules or whims.
                    Your
                    server is
                    your property, with your rules. It will exist as long as you want it to exist.
                </li>
                <li class="content-item">You are not isolated on your own server. You can follow anyone on any
                    other server, and they can follow you
                    and you can exchange messages just like if you were on the same server.
                </li>
                <li class="content-item">
                    You can either limit sign-ups to be the only one on the server and run it like personal
                    (micro)blog,
                    maintain an invite-only community for family or friends or run a server anyone can sign up on,
                    it’s up to you!
                </li>
            </ul>
        </div>
        <div>
            <app-dedicated-providers [appName]="'Mastodon'"></app-dedicated-providers>
        </div>
    </div>
</div>
<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Other Fediverse Apps</div>
        <p>

            <a href="https://en.wikipedia.org/wiki/Fediverse#Fediverse_software_packages" target="_blank">Explore other
                fediverse apps</a>

        </p>
    </div>
</div>