<div class="generic-container shadow">
    <div class="generic-title">Run Your Own Fediverse Server</div>
    <div style="margin-bottom: 10px;">
        <div style="margin-bottom: 5px; font-weight: 450;">
            Mastodon
        </div>
        <div style="margin-bottom:5px;">
            <a href="https://docs.joinmastodon.org/user/run-your-own/" target="_blank">https://docs.joinmastodon.org/user/run-your-own/</a>
            
        </div>


        <div>
            <div style="margin-bottom:5px;">
                Why would you want to run your own Mastodon server?
            </div>
            <div>
                <p>
                    Absolute control over your own voice on the web, not subject to anyone else’s rules or whims. Your
                    server is
                    your property, with your rules. It will exist as long as you want it to exist.
                </p>
                <p>You are not isolated on your own server. You can follow anyone on any
                    other server, and they can follow you
                    and you can exchange messages just like if you were on the same server.
                </p>
                <p>
                    You can either limit sign-ups to be the only one on the server and run it like personal (micro)blog,
                    maintain an invite-only community for family or friends or run a server anyone can sign up on, it’s
                    up to
                    you!
                </p>
            </div>
        </div>
    </div>

</div>