<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Run Your Own Fediverse Server</div>
        <p>
            Why depend on the good graces of for-profit social media companies to protect your interests and give you
            freedom to express yourself online, when you can guarantee this freedom yourself?
        </p>
        <p>
            The fediverse gives you the tools to put this power into your own hands if you so chose it.
        </p>
    </div>
</div>

<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Mastodon</div>
        <p>
            Mastodon is the most widely-used software implementation in the fediverse.
        </p>
        <div>
            <p>

                <a href="https://docs.joinmastodon.org/user/run-your-own/"
                    target="_blank">https://docs.joinmastodon.org/user/run-your-own/</a><br>
                Why would you want to run your own Mastodon server?

            </p>


            <div>
                <p class="content-item">
                    Absolute control over your own voice on the web, not subject to anyone else’s rules or whims.
                    Your
                    server is
                    your property, with your rules. It will exist as long as you want it to exist.
                </p>
                <p class="content-item">You are not isolated on your own server. You can follow anyone on any
                    other server, and they can follow you
                    and you can exchange messages just like if you were on the same server.
                </p>
                <p class="content-item">
                    You can either limit sign-ups to be the only one on the server and run it like personal
                    (micro)blog,
                    maintain an invite-only community for family or friends or run a server anyone can sign up on,
                    it’s up to you!
                </p>
            </div>
        </div>
        <div>
            <div class="generic-title">
                Mastodon Hosting Providers
            </div>
            <p>
                For reasonable pricing, let somebody else do the technical setup and maintenance of a Mastodon server while retaining full administrative authority over your instance.
            </p>
            <div *ngIf="isMobile">Table not shown</div>
            <table class="providers-table" *ngIf="!isMobile">
                <tr style="border-bottom:1px solid rgb(44, 44, 44);">
                    <td style="border-bottom:1px solid rgb(44, 44, 44);">Provider</td>
                    <td style="border-bottom:1px solid rgb(44, 44, 44);">Price / month from</td>
                    <td style="border-bottom:1px solid rgb(44, 44, 44);">Based in</td>
                    <td style="border-bottom:1px solid rgb(44, 44, 44);">Suggested Active users</td>
                    <td style="border-bottom:1px solid rgb(44, 44, 44);">Hosting locations</td>
                    <td style="border-bottom:1px solid rgb(44, 44, 44);">Available?</td>
                </tr>
                <tr>
                    <td>
                        <a href="https://toot.io/mastodon_hosting.html" target="_blank">toot.io</a>
                        
                        
                    </td>
                    <td>
                        <a href="https://toot.io/mastodon_hosting.html#pricing" target="_blank">$29 USD</a>
                        
                        
                    </td>
                    <td>
                        <a href="https://toot.io/mastodon_terms.html" target="_blank">Hebertshausen, Germany</a>
                    </td>
                    <td>100</td>
                    <td>
                        USA, Germany, Finland
                    </td>
                    <td>Available</td>
                </tr>
                <tr>
                    <td>
                        <a href="https://iknox.com/products/mastodon-hosting" target="_blank">IKNOX</a>
                        
                        
                    </td>
                    <td>
                        <a href="https://iknox.com/products/mastodon-hosting" target="_blank">$19 USD</a>
                        
                        
                    </td>
                    <td>
                        <a href="https://iknox.com/about" target="_blank">Sydney Australia</a>
                    </td>
                    <td>150</td>
                    <td>
                        USA, Europe, Middle East, Asia - Singapore, Asia - Japan, Australia
                    </td>
                    <td>Available</td>
                </tr>
                <tr>
                    <td>
                        <a href="https://masto.host/pricing/" target="_blank">mastohost</a>
                        
                        
                    </td>
                    <td>
                        <a href="https://masto.host/pricing/" target="_blank">$6 USD</a>
                        
                        
                    </td>
                    <td>
                        <a href="https://www.dnb.com/business-directory/company-profiles.wap_-_web_access_platforms_unipessoal_lda.4e5c9b1f9610af43ebf08448590c5948.html" target="_blank">Leiria, Portugal</a>
                    </td>
                    <td>5</td>
                    <td>
                        France
                    </td>
                    <td>Not available</td>
                </tr>
                <tr>
                    <td>
                        <a href="https://cloudplane.org/pricing" target="_blank">Cloudplane</a>
                    </td>
                    <td>
                        <a href="https://cloudplane.org/pricing" target="_blank">€3</a>
                        
                        
                    </td>
                    <td>
                        <a href="https://cloudplane.org/privacy" target="_blank">Zwiefalten, Germany</a>
                    </td>
                    <td>1</td>
                    <td>
                        <a href="https://datacenter.scaleway.com/">France</a>
                    </td>
                    <td>Available</td>
                    
                </tr>
            </table>
        </div>
    </div>
</div>