The movement to DRS GME was born in the community reddit.com/r/superstonk
<br>
This is where legitimate investors of GameStop learned that to protect their interests they must directly register their shares of GME in their own name.
<br>
However, for reasons, the superstonk community started to encounter issues with Reddit.  
<br>
This problem is solved by embracing the fediverse, so that legitimate investors of GameStop can continue the conversation around DRS GME without fear of censorship.
  