<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">
            GME Hydra Welcomes You
        </div>
        <p>
            If you are a legitimate investor of GameStop looking for an online community that guarantees your freedom to
            discuss DRS and related topics of conversation, you've found the right place.
        </p>
        <p>
            GME Hydra is a network of fediverse servers owned and operated by DRS'd shareholders of GME, putting the
            power to express our voice into our own hands.</p>
        <!-- <p>This community is insurance against censorship and any other issues that investors of GameStop might inevitably
            encounter in centralized social media networks.
        </p> -->
        <div *ngIf="!isMobile" class="head-count-container no-select">
            <div>
                GME Hydra is a beast that currently has
            </div>
            <div class="server-count" (click)="onClickHeadCount()">
                {{ serverCount }}
            </div>
            <div>
                heads
            </div>
        </div>
        <div *ngIf="isMobile" class="head-count-container no-select" style="margin-top: 20px; flex-direction:column;">
            <div>
                GME Hydra is a beast that currently has
            </div>
            <div class="server-count" (click)="onClickHeadCount()">

                {{ serverCount }}
            </div>
            <div>
                heads
            </div>
        </div>
    </div>
</div>