<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">
            GME Hydra Welcomes You
        </div>
        <p>
            GME Hydra is a directory of fediverse servers where investors of GameStop can experience the freedom to discuss information relevant to the interests of their investment.
        </p>
        <p>The fediverse is a social network that runs on open-source software and is owned and operated by community participants.  By signing up for an account on any fediverse instance you will be able to able to participate in discussions throughout the fediverse.</p>
        <div [routerLink]="['/server-list']" class="link hydra">
            <img src="assets/purple-hydra.png" alt="Browse" style="width:250px;height:250px;">
            Browse Server List
        </div>

    </div>
</div>