<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">
            GME Hydra Welcomes You
        </div>
        <p>
            GME Hydra is a simple directory of fediverse servers where investors of GameStop can experience the freedom to discuss information relevant to the interests of their investment.
        </p>
        <p>The fediverse is a social network that is owned and operated by community participants.</p>
        <div [routerLink]="['/server-list']" class="link hydra">
            <img src="assets/purple-hydra.png" alt="Browse" style="width:250px;height:250px;">
        </div>

    </div>
</div>