<div class="generic-container" style="width:100%;flex-grow: 2;">
    <div class="generic-inner-container shadow" style="width:100%;flex-grow: 2;">
        <div class="generic-title">
            GME Hydra Fediverse Server List
            <img src="assets/purple-hydra.png" alt="Hydra" style="width:22px;height:22px;margin-left: 10px;">
        </div>

        <div style="width:100%;display:flex;flex-direction:column;">
            <div *ngFor="let server of servers" class="server-item-container shadow">


                <div class="server-item-top-row">
                    <div style="display:flex;flex-direction:column">
                        <div class="server-name">
                            {{ server.name }}
                        </div>
                        <div>
                            <a [href]="server.fullUrl" target="_blank">{{server.displayUrl}}</a>
                        </div>
                    </div>
                    <div>
                        <img *ngIf="server.implementation === 'Lemmy'" src="assets/lemmy-icon.png" alt="Lemmy"
                            style="width:40px;height:40px;">
                        <img *ngIf="server.implementation === 'Mastodon'" src="assets/mastodon-icon.png" alt="Mastodon"
                            style="width:35px;height:35px;">
                    </div>
                </div>


                <div class="server-content" [ngStyle]="{ 'flex-direction': isLargeScreen ? 'row': 'column',
                                 'align-items': isLargeScreen ? '': 'center' }">

                    <div style="display:flex;align-items: center;margin: 10px; width: 100%;"
                        [ngStyle]="{ 'flex-direction': isLargeScreen ? 'row': 'column', 'min-width': isLargeScreen ? '425px' : '100%'}">
                        <a [href]="server.fullUrl" target="_blank">
                            <img [src]="server.thumbnailFile" style="border-radius: 10px;"
                                [ngStyle]="{ 'max-width': isLargeScreen ? '425px': '100%' }">

                        </a>
                    </div>


                    <div style="display:flex;flex-direction:column; min-width: 260px; margin: 10px; width: 100%;"
                        [ngStyle]="{ 'text-align': isLargeScreen ? 'right': 'left' }">
                        <div style="font-size:1.0em; display:flex;flex-direction: row; align-items: center;">
                            Monthly active users: 
                            <span style="margin-left: 5px; font-weight: bold;">< {{server.monthlyActiveUsers}}</span>
                        </div>
                        <div style="font-size:0.9em;display:flex;flex-direction: row; align-items: center;">
                            Software version:
                            <span style="margin-left: 5px;">{{ server.implementation }}</span> 
                            <span style="margin-left: 5px;">{{ server.softwareVersion }}</span>
                        </div>
                        <div style="font-size:0.9em;display:flex;flex-direction: row; align-items: center;" *ngIf="server.serverLocation">
                            Server location: {{ server.serverLocation }}
                        </div>
                        <div style="font-size:0.9em; display:flex;flex-direction: row; align-items: center;">
                            Registration: 
                            <span style="margin-left: 5px;">{{server.registration}}</span>
                        </div>
                    </div>

                </div>


                <div>
                    <p style="font-size: 1.0em; color: rgb(26, 26, 26);">{{ server.serverDescription }}</p>
                </div>


                <div style="display:flex;flex-direction:row-reverse" *ngIf="server.adminCreds.length > 0">
                    <div style="display:flex;flex-direction:column; font-size: 0.8em;text-align: right;">
                        <div class="owner-info-title no-select" (click)="onClickOwner(server)">Owner info</div>
                        <div *ngIf="server.ownerIsExpanded">
                            <app-owner-info [info]="server"></app-owner-info>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="disclaimer">
            <div class="disclaimer-title no-select" (click)="onClickEmailDisclaimer()">
                <fa-icon [icon]="faExclamationTriangle" style="color:gray;margin-right: 10px;"></fa-icon>
                <div>
                    Email address possibly required
                </div>
            </div>
            <div *ngIf="emailDisclaimerIsExpanded">
                <p>
                    An email address is required to sign up for an on most fediverse instances.
                </p>
                <p>
                    If you do not want to use your primary email address in order to get an account in the fediverse,
                    you can obtain a new email address for free from a variety of different email services, for
                    example <a href="https://proton.me/mail?ref=icnbtn" target="_blank">Proton Mail</a>.
                </p>
            </div>


        </div>
    </div>
</div>

<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Join a different fediverse server</div>
        <p>If you want to participate with this community without creating an account on one of the servers listed here,
            you can create an account on any other open fediverse server instance.
        </p>
        <div style="font-size: 1.1em;">
            <a href="https://join-lemmy.org/instances" target="_blank">Lemmy Servers</a>
        </div>
        <div style="font-size: 1.1em;"><a href="https://joinmastodon.org/servers" target="_blank">Mastodon Servers</a>
        </div>

    </div>
</div>


<!-- <div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Add your server</div>
        <div>
            <p>
                Increase the resiliency of the community of GameStop investors in the fediverse by adding your
                pro-GME server to this list. The greater the number of servers the greater the degree of
                decentralization of the community.
            </p>
            <button *ngIf="!showGrowHydra" class="bttn bttn.primary" (click)="onClickAddServer()">Add your server to the
                list</button>
        </div>
        <div>
            <app-grow-hydra *ngIf="showGrowHydra"></app-grow-hydra>
        </div>
    </div>
</div> -->