<div class="generic-container" style="width:100%;flex-grow: 2;">
    <div class="generic-inner-container shadow" style="width:100%;flex-grow: 2;">
        <div class="generic-title">
            GME Hydra Fediverse Server List
        </div>
        <p>
            Join GME Hydra by becoming a member of any of the fediverse servers listed. </p>
        <p>
            By signing up for an account on any of the following servers, you will be joining the community of millions
            of other people that are already part of the <a [routerLink]="['/fediverse']">fediverse</a>.
        </p>
        <p>You can change which server your account is on at any time.</p>
        <div style="width:100%;display:flex;flex-direction:column;">
            <div *ngFor="let server of serverList" class="server-item-container">
                <div class="server-item-top-row">
                    <div style="display:flex;flex-direction:column">
                        <div style="font-weight: bold;">
                            {{ server.name }}
                        </div>
                        <div>
                            <a [href]="server.fullUrl" target="_blank">{{server.displayUrl}}</a>
                        </div>

                    </div>
                    <div>
                        <div class="green-status" *ngIf="server.statusPositive"></div>
                        <div class="gray-status" *ngIf="!server.statusPositive"></div>
                    </div>
                </div>
                <div style="display:flex;flex-direction:row;justify-content: space-between;margin-bottom: 10px;" 
                [ngStyle]="{ 'flex-direction': isLargeScreen ? 'row': 'column',
                                 'align-items': isLargeScreen ? '': 'center' }">

                    <div style="width:100%;display:flex;align-items: center;margin: 10px;"
                        [ngStyle]="{ 'flex-direction': isLargeScreen ? 'row-reverse': 'column' }">
                        <a [href]="server.aboutLink" target="_blank">
                            <img [src]="server.thumbnailFile" style="border-radius: 10px;"
                                [ngStyle]="{ 'max-width': isLargeScreen ? '425px': '275px' }"></a>
                    </div>

                    <div style="display:flex;flex-direction:column; min-width: 260px;padding: 10px;maring:10px;">
                        <!-- <div style="font-size: 0.8em;">{{ userCount(server.userCount) }} users </div> -->
                        <div style="font-size: 0.8em;" *ngIf="server.serverLocation">Server location: {{
                            server.serverLocation
                            }} </div>
                        <div style="font-size: 0.8em;">Fediverse software: {{ server.implementation }} </div>
                        <div class="explore-local no-select" style="margin-top:10px;margin-bottom:10px;" (click)="onClickLink(server.exploreLink)">
                            See what's happening locally on {{ server.name }}
                        </div>
                        <div style="margin-top: 10px;display:flex;flex-direction: row; margin-bottom: 10px;;">
                            <div *ngIf="server.registrationStatus === 'BY_INVITE'">
                                Registration: <a class="server-link" [attr.href]="server.registrationLink"
                                    target="_blank"> By invite</a>
                            </div>
                            <div *ngIf="server.registrationStatus !== 'BY_INVITE'">
                                Registration: {{ registrationStatus(server) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p style="font-size: 0.9em; color: rgb(26, 26, 26);">{{ server.serverDescription }}</p>
                </div>
                <div style="display:flex;flex-direction:row-reverse">
                    <div style="display:flex;flex-direction:column; font-size: 0.8em;text-align: right;">
                        <div class="owner-info-title no-select" (click)="onClickOwner(server)">Owner info</div>
                        <div *ngIf="server.ownerIsExpanded">
                            <app-owner-info [info]="server"></app-owner-info>
                        </div>
                    </div>

                </div>
                <div
                    style="display:flex;flex-direction:row-reverse;font-size: 0.7em; color: gray;padding: 3px;margin-top: 3px;">
                    Server {{ serverList.indexOf(server)+1 }} of {{ serverList.length }}
                </div>
            </div>
        </div>
        <div class="disclaimer">
            <div class="disclaimer-title no-select" (click)="onClickEmailDisclaimer()">
                <fa-icon [icon]="faExclamationTriangle" style="color:gray;margin-right: 10px;"></fa-icon>
                <div>
                    Email address required
                </div>
            </div>
            <div *ngIf="emailDisclaimerIsExpanded">
                <p>
                    An email address is required to sign up for an account on Mastodon instances and other fediverse
                    instances.
                </p>
                <p>
                    If you do not want to use your primary email address in order to get an account in the fediverse,
                    you can obtain a new email address for free from any of the many mail providers out there, for
                    example <a href="https://proton.me/mail?ref=icnbtn" target="_blank">Proton Mail</a>.
                </p>
            </div>


        </div>
    </div>
</div>
<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Grow GME Hydra</div>
        <div>
            <p>
                Grow GME Hydra by starting your own fediverse server and adding it to this list.
                The more that GME Hydra grows, the more powerful and more resistant to censorship this community
                becomes.
            </p>
            <button *ngIf="!showGrowHydra" class="bttn bttn.primary" (click)="onClickAddServer()">Add your server to the
                list</button>
        </div>
        <div>
            <app-grow-hydra *ngIf="showGrowHydra"></app-grow-hydra>
        </div>
    </div>
</div>
<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Join a Different Fediverse Server</div>
        <p>If you want to join the fediverse without creating an account on one of the GME Hydra servers, you can sign
            up on any open server on the Mastodon public server list or instances of other fediverse software projects.
        </p>
        <p style="font-size: 1.1em;"><a href="https://joinmastodon.org/servers" target="_blank">Servers - Mastodon</a>
        </p>
    </div>
</div>