<div class="generic-container" style="width:100%;flex-grow: 2;">
    <div class="generic-inner-container shadow" style="width:100%;flex-grow: 2;">
        <div class="generic-title">
            Fediverse Server List
        </div>
        <p>
            Join GME Hydra by becoming a member of any of the fediverse servers listed. </p>
        <p>
            By signing up for an account on any of the following servers, you will be joining the community of millions of other people that are already part of the <a href="/fediverse">fediverse</a>.
        </p>
        <p>You can change which server your account is on at any time.</p>
        <div class="table-container">
            <table class="table table-small" *ngIf="screenIsMobile">
                <tr>
                    <td>URL</td>
                    <td>Users</td>
                    <td></td>
                </tr>
                <tr *ngFor="let server of serverList">
                    <td>
                        <a class="server-link" [attr.href]="server.fullUrl" target="_blank"> {{ server.displayUrl }}</a>
                    </td>
                    <td> {{ userCount(server.userCount) }} </td>
                    <td class="center-horizontal">
                        <div class="green-status"></div>
                    </td>
                </tr>
            </table>
            <table class="table table-big" *ngIf="!screenIsMobile">
                <tr>
                    <td>

                    </td>
                    <td>
                        URL
                    </td>
                    <td>
                        User count
                    </td>
                    <td>Registration</td>
                    <td>
                        Server Status
                    </td>
                    <td>Fediverse Software</td>
                    <td>Location</td>
                </tr>
                <tr>
                </tr>
                <tr *ngFor="let server of serverList">
                    <td>
                        {{ (serverList.indexOf(server)+1) }}
                    </td>
                    <td style="font-weight: 550;">
                        <a class="server-link" [attr.href]="server.fullUrl" target="_blank"> {{ server.displayUrl }}</a>
                    </td>
                    <td> {{ userCount(server.userCount) }} </td>

                    <td>
                        <div *ngIf="server.registrationStatus === 'BY_INVITE'">
                            <a class="server-link" [attr.href]="server.registrationLink" target="_blank"> By invite</a>
                        </div>
                        <div *ngIf="server.registrationStatus !== 'BY_INVITE'">
                            {{ registrationStatus(server) }}
                        </div>

                    </td>
                    <td class="center-horizontal">
                        <div class="green-status"></div>
                    </td>
                    <td>
                        {{ server.implementation }}
                    </td>
                    <td>{{ server.serverLocation }} </td>
                </tr>
            </table>
        </div>
        <div class="disclaimer">
            <div class="disclaimer-title no-select" (click)="onClickDrsDisclaimer()">
                <div class="purple-circle"></div>
                DRS'd Operators
            </div>
            <div *ngIf="drsDisclaimerIsExpanded">
                <p>
                    All servers in this list are owned and operated by DRS'd shareholders of GME.
                </p>
            </div>
        </div>
        <div class="disclaimer">
            <div class="disclaimer-title no-select" (click)="onClickEmailDisclaimer()">
                <fa-icon [icon]="faExclamationTriangle" style="color:gray;margin-right: 10px;"></fa-icon>
                <div>
                    Email address required
                </div>
            </div>
            <div *ngIf="emailDisclaimerIsExpanded">
                <p>
                    An email address is required to sign up for an account on Mastodon instances and other fediverse
                    instances.
                </p>
                <p>
                    If you do not want to use your primary email address in order to get an account in the fediverse,
                    you can obtain a new email address for free from any of the many mail providers out there, for
                    example <a href="https://proton.me/mail?ref=icnbtn" target="_blank">Proton Mail</a>.
                </p>
            </div>


        </div>
    </div>
</div>
<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Grow GME Hydra</div>
        <div>
            <p>
                Grow GME Hydra by starting your own fediverse server and adding it to this list.
                The more that GME Hydra grows, the more powerful and more resistant to censorship this community
                becomes.
            </p>
            <button *ngIf="!showGrowHydra" class="bttn bttn.primary" (click)="onClickAddServer()">Add your server to the
                list</button>
        </div>
        <div>
            <app-grow-hydra *ngIf="showGrowHydra"></app-grow-hydra>
        </div>
    </div>
</div>