.drs-root{
    max-width: 600px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin: 20px;
    font-size: 1.8em;
    font-weight: 500;
}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    width:100%;
}

.lyrics-container{
    max-height: 200px;
    overflow-y: auto;
    font-size: 0.8em;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(246, 246, 246);
}
.controls-row{
    margin-top: 10px;
    width: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
}

.button{
    height: 25px;
    font-size: 0.8em;
    color: rgb(68, 68, 68);
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.source-button{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.source-link{
    text-decoration: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
}
.source-link:hover{
    background-color:rgb(240, 240, 240);
}