<div class="generic-container">
    <div class="generic-inner-container shadow" style="display:flex; flex-direction: column; align-items: center;">
        <div style="width:100%;display:flex;">
            <div class="generic-title">DRS Introduction</div>
        </div>

        <div class="blurb">
            The Direct Registration System aka DRS is a foundational component of the financial revolution that is
            currently
            happening among GameStop investors.<br>
            DRS is the solution to the <span [routerLink]="['/systemic-problems']" class="link">systemic
                problems</span>.
        </div>


        <iframe *ngIf="isLarge"
            style="width:100%;min-height:340px;border-radius: 10px;background-color:white;margin-top:10px;border: 1px solid gray;"
            src="https://www.youtube.com/embed/gNTClU6lLqY" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <iframe *ngIf="!isLarge"
            style="width:100%;min-height:250px; max-height:400px;border-radius: 10px;background-color:white;margin-top:10px;"
            src="https://www.youtube.com/embed/gNTClU6lLqY" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div class="controls-row">
            <div class="source-row">
                Source:

                <a href="https://www.drsgme.org" target="_blank" class="source-link">
                    DRSGME.org
                    <img src="assets/drsgme-icon.png" alt="reddit" style="width:25px;height:25px;margin-left: 10px;">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="table-container">

            <div style="width:100%;display:flex;">
                <div class="generic-title">DRS Comparison</div>
            </div>
            <p>Holding shares of a company through DRS versus holding shares of a company with a brokerage account
                <!-- Click a row to expand for more information. -->
            </p>

            <table class="drs-comparison-table">
                <tr>
                    <td style="border: none;"></td>
                    <td class="tr-center" style="width:25%;">DRS shares</td>
                    <td class="tr-center" style="width:25%;">Broker-held shares</td>
                </tr>
                <tr class="drs-table-row">
                    <td>Shares are in your name</td>
                    <td class="tr-center">
                        <img src="assets/green-check.png" style="height: 18px;width:18px;">
                    </td>
                    <td class="tr-center"><img src="assets/red-x.png" style="height: 18px;width:18px;"></td>
                </tr>
                <tr class="drs-table-row">
                    <td>Receive true voting rights</td>
                    <td class="tr-center"><img src="assets/green-check.png" style="height: 18px;width:18px;"> </td>
                    <td class="tr-center"><img src="assets/red-x.png" style="height: 18px;width:18px;"></td>
                </tr>
                <tr class="drs-table-row">
                    <td>Receive true dividend</td>
                    <td class="tr-center"><img src="assets/green-check.png" style="height: 18px;width:18px;"> </td>
                    <td class="tr-center"><img src="assets/red-x.png" style="height: 18px;width:18px;"></td>
                </tr>
                <tr class="drs-table-row" style="border-top: 2px solid rgb(136, 136, 136);">
                    <td style="font-weight: 500; font-size:1.1em;">True share ownership</td>
                    <td class="tr-center"><img src="assets/green-check.png" style="height: 30px;width:30px;"> </td>
                    <td class="tr-center"><img src="assets/red-x.png" style="height: 30px;width:30px;"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="generic-container">
    <div class="generic-inner-container shadow">
        <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/track/44pfWLrktQTf2cFSn7Gmng?utm_source=generator" width="100%"
            height="152" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        <div class="lyrics-container" *ngIf="showLyrics">
            <app-drs-lyrics></app-drs-lyrics>
        </div>
        <div style="display:flex;flex-direction:row-reverse">
            <button class="bttn bttn.primary button" (click)="onClickShowLyrics()">
                <div *ngIf="showLyrics">
                    Hide lyrics
                </div>
                <div *ngIf="!showLyrics">
                    Show lyrics
                </div>
            </button>
        </div>
        <div class="source-row">
            Source:

            <a href="https://www.reddit.com/r/Superstonk/comments/zjiaob/the_mission_is_clear_drs_wooch_here_back_with/"
                target="_blank" class="source-link">
                WoochTAK on Reddit
                <img src="assets/reddit-icon.png" alt="reddit" style="width:25px;height:25px;margin-left: 10px;">
            </a>
        </div>
    </div>
</div>
<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div style="max-width:100%;">
            <a target="_blank"
                href="https://twitter.com/SusanneTrimbath/status/1603566733339422720?cxt=HHwWgMCjpdXcgcEsAAAA">
                <img style="max-width: 100%;" src="assets/escalate-your-commitment.png"
                    alt="Susanne Trimbath on Twitter">
            </a>
        </div>

        <div class="controls-row">
            <div class="source-row">
                Source:

                <a href="https://twitter.com/SusanneTrimbath/status/1603566733339422720?cxt=HHwWgMCjpdXcgcEsAAAA"
                    target="_blank" class="source-link">
                    Susanne Trimbath on Twitter
                    <img src="assets/twitter-icon.png" alt="reddit" style="width:25px;height:25px;margin-left: 10px;">
                </a>
            </div>
        </div>
    </div>

</div>