<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Why Fediverse?</div>
        <p>
            There are pros and cons with any model of social media.
        </p>
    </div>
</div>
<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Social Media Models</div>
        <div class="header">Centralized</div>
        <p>
            Centralized social media models such as Reddit, Twitter, YouTube, Facebook, Twitch, etc., are the most
            common and familiar types of social media on the Internet.
        </p>
        <p>
            In this context, the defining aspect of centralized models is that there is a single central authority
            at the top of the structure with ultimate control over the entire network.
        </p>
        <p>
            Centralized models work for most people most of the time, but, because ultimate authority is always in
            the
            centralized control of the platform owners and never with the community, this imbalance of power can
            create circumstances where opposing interests between the community participants and the community
            owners results in censorship.
        </p>
        <div class="header">Decentralized</div>
        <p>
            Due to this fundamental weakness with centralized models, various attempts have been made to create a
            solution that could be described as <a href="https://en.wikipedia.org/wiki/Decentralization"
                target="_blank">decentralized</a>, with one of the main ideas being that more
            decentralization
            creates more resistance to censorship.
        </p>
        <p>
            The definition of the word decentralized can be ambiguous but in this context it would mean a network of
            software nodes (aka servers)
            interacting with similar such nodes that operate autonomously without any human intervention at all.
            This is the definition that is typically used in the context of cryptocurrency.<br>
        </p>
        <p>
            <a href="https://en.wikipedia.org/wiki/Bitcoin" target="_blank">Bitcoin</a> and
            <a href="https://en.wikipedia.org/wiki/Ethereum" target="_blank">Ethereum</a>
            are two examples of networks that meet this description, but these networks are cryptocurrency networks
            and not social media networks.<br>

        </p>
        <p>
            While some attempts have been made at decentralized social media, it is a challenging problem for such
            products to be functionally decentralized while also being a tool that is effortlessly useable and
            appealing.
        </p>

        <div class="header">Federated</div>
        <p>
            Somewhere in between centralized and decentralized exists <a
                href="https://en.wikipedia.org/wiki/Federation_(information_technology)" target="_blank">federated</a>.
        </p>
        <p>
            A federation is a group of computing or network providers agreeing upon standards of operation in a
            collective fashion.
        </p>
        <p>
            In a federated network, there are aspects that are centralized and aspects that
            are decentralized.
            While a federated network is not a fully decentralized social media solution, it is a mostly decentralized social media solution.
        </p>

    </div>
</div>
<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">The Fediverse
        </div>
        <p>While the ideal censorship-resistant solution would be a properly decentralized one, that
            ideal decentralized solution does not exist right now.
        </p>
        <p>
            <a href="https://en.wikipedia.org/wiki/Fediverse" target="_blank">The fediverse</a> exists right now.
        </p>
        <p>
            The fediverse is a federated social network that is composed of many different software projects.
        </p>
        <div style="max-width:100%; border: 1px solid rgb(230, 230, 230);border-radius: 15px;padding:5px;">
            <a href="https://en.wikipedia.org/wiki/Fediverse#/media/File:How-the-Fediverse-connects.png"
                target="_blank"
                
                >
                <img style="max-width:100%"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/How-the-Fediverse-connects.png/800px-How-the-Fediverse-connects.png"
                    alt="">
            </a>
        </div>
        <div>
            <p>
                The fediverse runs on tens of thousands of nodes and has a population of between 3 and 10
                million
                active users.
            </p>
            <p>
                Among fediverse software projects, Mastodon is the software project that is being used by the
                largest number of
                users and has the largest number of running nodes.
            </p>
            <div class="source-link-container">
                <div class="source-link">
                    Source: <a href="https://the-federation.info/" target="_blank"
                        style="margin-left: 20px;">the-federation.info</a>
                </div>
            </div>
        </div>
    </div>
</div>