<div class="generic-container shadow">
    <div class="generic-title">Why Fediverse?</div>
    <div>
        <p>
            There are pros and cons with any model of social media.
        </p>
        <div class="header">Centralized</div>
        <p>

            We are mostly familiar with centralized social media models such as Reddit, Twitter, YouTube, Facebook, etc.
            <br>
            Centralized models work for most people most of the time.
            But, crucially, centralized social media models mean that ultimate authority is always in the centralized
            control of the platform owners and never with the community.
            This can naturally lead to certain kinds of issues, the most notable being censorship.
        </p>
        <div class="header">Decentralized</div>
        <p>
            Due to this fundamental flaw with centralized models, various attempts have been made to create a solution
            that could be described as decentralized, with one of the main ideas being that more decentralization
            creates more resistance to censorship.
            The definition of the word decentralized can be ambiguous but in this context it would mean a network of software nodes
            interacting with similar such nodes that operate without any human intervention at all.
            Bitcoin and Ethereum are two examples of networks that meet this description.
            While some attempts have been made at decentralized social media, it is a challenging problem for such
            products to be functionally decentralized while also being a tool that is effortlessly useable and
            appealing.
        </p>
        <div class="header">Federated</div>
        <p>
            Somewhere in between centralized and decentralized exists <a
                href="https://en.wikipedia.org/wiki/Federation_(information_technology)" target="_blank">federated</a>.
            A federation is a group of computing or network providers agreeing upon standards of operation in a
            collective fashion. In a federated network, there are aspects that are centralized and aspects that
            are decentralized.
            While a federated network is not a fully decentralized solution, it is a mostly decentralized solution.
        </p>
        <div>
            <div class="header"><a href="https://en.wikipedia.org/wiki/Fediverse" target="_blank">The Fediverse</a>
            </div>
            <p>While ideally the ultimate censorship-resistant solution would be a properly decentralized one, that
                ideal decentralized solution does not exist right now.<br>
                The fediverse exists right now.</p>
            <div style="max-width:100%">
                <a href="https://en.wikipedia.org/wiki/Fediverse#/media/File:How-the-Fediverse-connects.png"
                    target="_blank">
                    <img style="max-width:100%"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/How-the-Fediverse-connects.png/800px-How-the-Fediverse-connects.png"
                        alt="">
                </a>
            </div>
            <div>
                <p>
                    The fediverse is comprised of tens of thousands of nodes and somewhere between 3 and 10 million
                    active users.
                </p>
                <p>
                    In the fediverse, Mastodon is the software project that is being by the largest number of users and
                    has the most nodes.
                </p>
                <div class="source-link-container">
                    <div class="source-link">
                        Source: <a href="https://the-federation.info/" target="_blank"
                            style="margin-left: 20px;">the-federation.info</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<div style="height: 20px;">

</div>