<div class="about-root">
    <div class="container shadow">
        <div class="title">
            About
        </div>
        <p>
            gmehydra.org is owned and operated by a DRS'd shareholder of GME for informational purposes only.
        </p>

        <p>This website only collects information that is voluntarily provided in requests to add your server to the GME
            Hydra fediverse server list, such as server URL, server administrator email address, and server location.
        </p>
        <p>This website does not otherwise collect or store any information from any users.</p>
        <p>
            The creator of this website is not a financial advisor and nothing on this website is financial advice.
        </p>
        <p>
            This website is not affiliated with GameStop Corp.
        </p>
        <p>The owner of gmehydra.org is also the owner and operator of the fediverse server at www.superstork.org.</p>
        <p>
            Questions? Comments? Suggestions?
            <br>
            Send an email to <b>gmehydra@proton.me</b>
        </p>
    </div>
</div>