<div class="about-root">
    <div class="container shadow">
        <div class="title">
            About
        </div>
        <p>
            gmehydra.org is owned and operated by a DRS'd shareholder of GME for informational purposes only.  This author is not a financial advisor and nothing on this website is financial advice.
        </p>
        <p>
            This website is not affiliated with GameStop Corp.
        </p>
        <p>
            This website is not affiliated with Dr. Susanne Trimbath.
        </p>
        <p>
            Questions?  Comments?  Suggestions?
            <br>
            Send an email to <b>gmehydra@proton.me</b>
        </p>
    </div>
</div>