<div class="about-root">
    <div class="container shadow">
        <div class="title">
            About
        </div>
        <p>This website does not otherwise collect or store any information from any users.</p>
        <p>
            This website is not affiliated with GameStop Corp.
        </p>
        <p>
            Questions? Comments? Suggestions?
            <br>
            Send an email to <b>gmehydra@proton.me</b>
        </p>
        <p>For more context, please visit <a href="https://gmetimeline.org" target="_blank">gmetimeline.org</a></p>
    </div>
</div>