<div class="app-component-root">
  <div class="component-container">
    <router-outlet></router-outlet>
  </div>
  
  <!-- <app-home class="component-container"></app-home> -->
  <!-- <app-federated-server-list class="component-container"></app-federated-server-list> -->
  <!-- <app-about class="component-container"></app-about> -->
</div>
<div class="sidebar" *ngIf="isLarge">
  <app-sidebar></app-sidebar>
</div>
<div class="popup" *ngIf="showPopup">
  <app-add-server-popup></app-add-server-popup>
</div>