
<div class="app-component-root">
  <div class="component-container">
    <div class="router-outlet">
      <div *ngIf="!isLarge" style="min-height: 41px; width: 100%;"></div>
      <div *ngIf="isLarge" style="min-height: 10px; width: 100%;"></div>
      <router-outlet></router-outlet>
      <div *ngIf="isLarge" style="min-height:41px;display:flex;"></div>
    </div>
  </div>
</div>

<div class="header-menu-container" *ngIf="!isLarge">
  <app-header-menu style="height:100%;width:100%;"></app-header-menu>
</div>

<div class="sidebar-container" *ngIf="isLarge">
  <app-sidebar class="sidebar"></app-sidebar>
</div>

<div class="popup" *ngIf="showPopup">
  <app-add-server-popup></app-add-server-popup>
</div>

<div class="footer-container" *ngIf="isLarge">
  <app-footer style="height:100%;"></app-footer>
</div>