.sidebar-root{
    width: 100%;
    display:flex;
    flex-direction: row;
    padding-right: 5px;
}
.sidebar{
    flex-grow: 2;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: white;
}
.sidebar-item{
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: gray;
    font-weight: 500;
}