<div class="popup-root">
    <div class="popup-content">
        <div class="message">
            To add your server to this list, please send an email with your server URL to:
        </div>
    
        <div class="email">
            gmehydra@proton.me
        </div>
        <div class="message">
            All servers in this list are operated by DRS'd shareholders of GME.
        </div>
        <div class="button-container">
            <button class="bttn bttn.primary" (click)="onClickClose()">Close</button>
        </div>
    </div>
    
</div>