<div class="generic-container">
    <div class="generic-inner-container shadow">
        <div class="generic-title">Systemic Problems</div>
        <p>
            There are some serious systemic problems with US financial markets.
        </p>
        <div>
            <p>
                As described by Dr. Susanne Trimbath in the book <a href="https://www.goodreads.com/book/show/49089890-naked-short-and-greedy" target="_blank">Naked Short and Greedy</a>, there is a central 3-pronged problem
                of:
            </p>
            <ol>
                <li>Short sales</li>
                <li>Stock lending</li>
                <li>Settlement failures</li>
            </ol>
            <p>
                This central problem has brought us into the untenable situation we might be finding ourselves in today.
            </p>
            <p>Stemming from this central problem is an environment where shareholder democracy is in shambles.  The shareholder voting process is fundamentally flawed.  Furthermore, shareholders don't actually receive dividends but payments from their brokers in lieu of dividends.</p>
        </div>
        <p>Legitimate investors of GameStop have discovered that the answer to these problems is <span [routerLink]="['/direct-registration-system']" class="link">DRS</span>.</p>
    </div>
</div>
