<div class="lyrics-root">
    DRS, DRS<br>
    DRS, DRS<br>
    DRS, DRS<br>
    (Put your circles in the air)<br>
    DRS, DRS<br>
    (Put your circles in the air)<br>
    DRS, DRS<br>
    (Let me see you put your circles in the air)<br>
    (Purple circle in the air)<br>
    DRS, DRS<br>
    <br>
    And I need to DRS for the simple little fact that I need to<br>
    Have it in my name to ensure that it's true<br>
    And because I don't believe you<br>
    My layer 1 and 2 address intact<br>
    Authentication on every occasion<br>
    That's my dedication to you<br>
    I'm sick of the manipulating you do<br>
    Want you to know that I own it<br>
    If I make enough to retire that's a bonus, yeah<br>
    Every single wallet out there is gonna have an NFT<br>
    I'm talking fundamentally, uh <br>
    The world is turning digitally, uh<br>
    And the risk is infinitely, yah<br>
    Uh, let's get it<br>
    I'm not tapping and I'm not submitting<br>
    And you know it's always tomorrow until it's today<br>
    So I guess I'm just HODLing until I get paid and I<br>
    <br>
    DRS, DRS<br>
    DRS, DRS<br>
    (DRS that)<br>
    DRS, DRS<br>
    (DRS that)<br>
    DRS, DRS<br>
    (Put it in your name)<br>
    (Put the shh in your name, come on)<br>
    DRS, DRS<br>
    (DRS that, DRS that thang come on)<br>
    DRS, DRS<br>
    (Uh, put your circles in the air)<br>
    (Purple circles in the air)<br>
    DRS, DRS<br>
    (Let me see you put your circle in the air)<br>
    (In the air right now for me)<br>
    DRS, DRS<br>
    (Uh, put your circles in the air)<br>
    (Purple circles in the air)<br>
    DRS, DRS<br>
    <br>
    And I really wanna have a guarantee <br>
    Cause the world that I see <br>
    and its anatomy is filled with counterfeits<br>
    Psh, have some thoughts of your own<br>
    I wanna break the wheel I don't want the throne<br>
    I bet the puppeteers really hate this song <br>
    Because they really fear what is going on<br>
    And I believe it<br>
    We won't be defeated, I mean it<br>
    Repeat it, breathe it, receive it<br>
    Straight into your brain<br>
    Hear the music, hear the DD<br>
    Feeling dedicated to the ones in the slums who'll become something<br>
    I'm zen as a monk<br>
    Debunk all the junk<br>
    They don't understand so they call it dumb luck<br>
    Community strong, got a cup fill it up<br>
    Think we get tired that's a joke that's a flunk<br>
    DRS we don't give a, what<br>
    (DRS that)<br>
    Don't let the DRS FUD seep inside of your mind to confuse you<br>
    I want ownership when exposure hits<br>
    I wanna know what I possess<br>
    I'm obsessed but stay zen to release this stress<br>
    I wanna fix this mess <br>
    Learn it, earn it, return it to how it should be<br>
    <br>
    DRS<br>
    (And I really need to get that)<br>
    DRS<br>
    (I'm trying to tell you, you need to)<br>
    DRS<br>
    (It might be the right move)<br>
    DRS<br>
</div>