.home-root {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.small-root{
    margin-top: 15px;
    margin-bottom: 15px;
}
.large-root{
    margin-top: 25px;
    margin-bottom: 25px;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.title {
    font-size: 1.2em;
    font-weight: 500;
}

.body{
    padding: 15px;
}

.head-count{
    font-size: 2em;
    padding: 5px;
    font-weight: 500;
}